<h1>Listing module2s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @module2s.each do |module2| %>
      <tr>
        <td><%= module2.name %></td>
        <td><%= link_to 'Show', module2 %></td>
        <td><%= link_to 'Edit', edit_module2_path(module2) %></td>
        <td><%= link_to 'Destroy', module2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Module2', new_module2_path %>
