<h1>Listing module5s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @module5s.each do |module5| %>
      <tr>
        <td><%= module5.name %></td>
        <td><%= link_to 'Show', module5 %></td>
        <td><%= link_to 'Edit', edit_module5_path(module5) %></td>
        <td><%= link_to 'Destroy', module5, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Module5', new_module5_path %>
